.guide {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  .mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 2;
  }
  .mask-guide-search {
    position: fixed;
    right: 255px;
    top: -12px;
    z-index: 3;
    img {
      transform: rotateX(60deg);
    }
    p {
      color: #fff;
      font-size: 28px;
      position: fixed;
      font-weight: bolder;
      top: 120px;
      right: 300px;
    }
  }

  .mask-guide-add {
    position: fixed;
    left: 133px;
    top: 28px;
    z-index: 3;
    p {
      color: #fff;
      font-size: 26px;
      font-weight: bolder;
      position: fixed;
      top: 51px;
      left: 390px;
    }
  }
  .mask-guide-add.pipeline {
    left: 133px;
    top: 89px;
    p {
      left: 420px;
      top: 94px;
    }
  }
}
